.banner {
  display: flex;
  flex-flow: column;
  position: relative;
  height: 100vh;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 2rem;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}
.banner-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.banner-text {
  display: flex;
  flex-flow: column;
  gap: 7px;
  z-index: 1;
  color: var(--COLOR-banner-text);
}

.banner-text h1 {
  font-size: 5rem;
}
.banner-cta {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  z-index: 1;
}

.resp-img {
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .banner {
    height: 50vh;
  }
  .banner-text h1 {
    padding-top: 5rem;
    font-size: 1.5rem;
  }
  .banner-text p {
    display: none;
  }
  .banner-img {
    width: 100%;
    height: 50vh;
  }
}
