.list-main {
  padding: 2rem;
}

.list-container {
  margin: 5rem 0;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  min-height: 100vh;
}

.error-text{
  padding: 2rem;
}

.list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.list-form-container{
  display: flex;
  flex-flow: column;
}

.form-header{
  display: flex;
  flex-flow: row;
  gap: 2rem;
}

.list-form-container form{
  padding: 2rem;
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.input-control {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;
}

.input-control input {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  width: 300px;
  background-color: var(--COLOR-secondary-bg);
  color: var(--COLOR-text);
}

.input-control input:focus {
  outline: none;
}

@media (max-width: 480px) {
  .list-grid{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
  }
  .list-form-container form{
    flex-flow: column;
  }
}
